# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!environments/**/terraform.tfvars
.terraform.tfstate.lock.info
*.backup
*.out
terraform.tfplan

# Local tooling
.DS_Store
.idea/
.vscode/

